// .section {}

.specialties {
	background: url('../img/jpg/specialty-bg.jpg') center / cover no-repeat;
	padding-left: 13%;
	padding-right: 13%;
	padding-top:  calc(25px + (50 - 25) * ((100vw - 320px) / (1300 - 320)));
	padding-bottom: calc(25px + (50 - 25) * ((100vw - 320px) / (1300 - 320)));
	@media (max-width: 500px) {
		padding-left: 16%;
		padding-right: 16%;
	}
}

.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: visible;
	list-style: none;
	padding: 0;
	z-index: 1;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 0px;
	left: 0;
	width: 100%;
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 100%;
	background: #fff;
	opacity: .5;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background: #fff;
}